<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="etrellis_weather" id="etrellis_weather">
			<module before="Magento_Backend" name="Etrellis_Weather"/>
		</route>
	</router>
</config>
