<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <weather>
            <options>
                <api_key>d1849020b3f30e284e6240382e38ffc5</api_key>
                <city_id>3092931</city_id>
            </options>
        </weather>
    </default>
</config>
